BLUEPRINT_PRIMARY.ENV="local"

BLUEPRINT_SERVER.PORT="8080"
BLUEPRINT_SERVER.READ_TIMEOUT="30"
BLUEPRINT_SERVER.WRITE_TIMEOUT="30"
BLUEPRINT_SERVER.IDLE_TIMEOUT="60"
BLUEPRINT_SERVER.CORS_ALLOWED_ORIGINS="http://localhost:3000"

BLUEPRINT_DATABASE.URL="your-neon-database-here"
# if url is not provided
# BLUEPRINT_DATABASE.HOST="localhost"
# BLUEPRINT_DATABASE.PORT="5432"
# BLUEPRINT_DATABASE.USER="postgres"
# BLUEPRINT_DATABASE.PASSWORD=""
# BLUEPRINT_DATABASE.NAME="blueprint"
# BLUEPRINT_DATABASE.SSL_MODE="disable"
BLUEPRINT_DATABASE.MAX_OPEN_CONNS="25"
BLUEPRINT_DATABASE.MAX_IDLE_CONNS="25"
BLUEPRINT_DATABASE.CONN_MAX_LIFETIME="300"
BLUEPRINT_DATABASE.CONN_MAX_IDLE_TIME="300"

BLUEPRINT_AUTH.SECRET_KEY="secret"

BLUEPRINT_INTEGRATION.RESEND_API_KEY="resend_key"
BLUEPRINT_INTEGRATION.EMAIL_FROM_NAME="Blueprint"
BLUEPRINT_INTEGRATION.EMAIL_FROM_ADDRESS="onboarding@resend.dev"

BLUEPRINT_REDIS.ADDRESS="localhost:6379"

BLUEPRINT_OBSERVABILITY.SERVICE_NAME="blueprint"
BLUEPRINT_OBSERVABILITY.ENVIRONMENT="development"

BLUEPRINT_OBSERVABILITY.LOGGING.LEVEL="debug"
BLUEPRINT_OBSERVABILITY.LOGGING.FORMAT="console"
BLUEPRINT_OBSERVABILITY.LOGGING.SLOW_QUERY_THRESHOLD="100ms"

BLUEPRINT_OBSERVABILITY.NEW_RELIC.LICENSE_KEY=""
BLUEPRINT_OBSERVABILITY.NEW_RELIC.APP_LOG_FORWARDING_ENABLED="true"
BLUEPRINT_OBSERVABILITY.NEW_RELIC.DISTRIBUTED_TRACING_ENABLED="true"
BLUEPRINT_OBSERVABILITY.NEW_RELIC.DEBUG_LOGGING="false"

BLUEPRINT_OBSERVABILITY.HEALTH_CHECKS.ENABLED="true"
BLUEPRINT_OBSERVABILITY.HEALTH_CHECKS.INTERVAL="30s"
BLUEPRINT_OBSERVABILITY.HEALTH_CHECKS.TIMEOUT="5s"
BLUEPRINT_OBSERVABILITY.HEALTH_CHECKS.CHECKS="database redis"
